# Build artifacts
/target/
/dist/
**/*.rs.bk
*.exe
!**/examples/*.exe
**/*.pdb
**/*.dll
**/*.dylib
**/*.so

# Packaging artifacts
*.zip
*.tar.gz
*.tgz
*.dmg
*.msi
*.deb
*.rpm
*.pkg

# Editor/IDE files
.idea/
.vscode/
*.swp
*.swo
*.sublime-*
*~
.DS_Store
Thumbs.db

# Configuration files that might contain sensitive information
.env
.env.*

# Cargo files
Cargo.lock
.cargo-ok

# Local development files
/trippy/
/trippy.exe